* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('C:\Users\aswin\OneDrive\Documents\Mindworks\Library\pointer.png'), auto;
    font-family:"Special Elite",serif ;
    background: transparent;
    background: url("grunge-certificate-with-vintage-ornamental-frame.jpg") repeat  center;
    background-color: #979bba;
    color: #1c1916;
}

header {
    
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    
}

header p {
    font-size: 1.2rem;
    margin: 20px 0;
    
}

header a {
    display: inline-block;
    padding: 10px 20px;
    background: #51080e;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background 0.69s;
}

header a:hover {
    background: #d62828;
    transition: linear;
}

section {
    padding: 50px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000000;
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ccc;
}

section p1 {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #140b0d;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.feature {
    background-color:rgb(109, 26, 26,1);
    border: 3px solid rgba(34, 30, 14, 0.5);
    cursor:pointer;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: left;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.feature h3 {
    font-size: 1.5rem;
    color: #F4AB6A;
    margin-bottom: 10px;
}

footer {
    background: #111;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 0.9rem;
    color: #777;
}

footer a {
    color: #e63946;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.navigationbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    background-color: #5b131d;
    display:flex;
    justify-content: space-between;
    z-index: 100;
    transition: all 1.61s ease;
}

.navigationbar.shrink {
   width: 100%;
   padding: 5px 25px; /* Smaller padding */
}

.logo{
    font-size:18px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    position:relative;
    padding:10px 10px
}

.navbar a{
   position:relative;
   display: inline-block;
   background:#F4AB6A;
   border-radius: 5px;
   padding: 10px 10px;
   font-size:18px;
   color:#000000d5;
   font-weight: 500;
   text-decoration: none;
   margin-left: 40px;
   transition: background 0.073s;
   

}

.navbar a:hover{
    background:#965642;
    color:white;

}

.navbar a::before{
    content:'' ;
    position: relative;
    padding:0px;
    top:100%;
    left:0;
    width:100%;
    height: 2px;
    color: yellowgreen;
    
}
.navbar a:hover::after{
    content: '';
    background:linear-gradient(red to blue);
    color: #d62828;
}
